<div class="row">
  <div class='col-md-3'>
    <app-nav-menu></app-nav-menu>
  </div> 

  <div class='col-md-9'>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="box box-body">
          <div class="flexbox">
            <h6 class="text-uppercase">Total Votes</h6>
            <h6><i class="ion-android-arrow-dropup text-success font-size-18 mr-1"></i> 2000</h6>
          </div>
        </div>
      </div>
    
      <div class="col-md-6 col-lg-4">
        <div class="box box-body">
          <div class="flexbox">
            <h6 class="text-uppercase">Total Votes</h6>
            <h6><i class="ion-android-arrow-dropup text-success font-size-18 mr-1"></i> 2000</h6>
          </div>
        </div>
      </div>
    
      <div class="col-md-6 col-lg-4">
        <div class="box box-body">
          <div class="flexbox">
            <h6 class="text-uppercase">Total Votes</h6>
            <h6><i class="ion-android-arrow-dropup text-success font-size-18 mr-1"></i> 2000</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="box">
          <div class="box-header with-border">
            <h5 class="box-title">Contestants</h5>
          </div>

          <div class="box-body p-0">
            <div class="media">
              <div class="media-body">
                <div class="flexbox">
                  <div class="clearfix">
                    <img class="avatar avatar-lg" src="assets/images/img.jpg" alt="..."> <span class="ml-15 font-size-18">Erick</span>
                  </div>
  
                  <div class="align-self-center">
                    <span class="badge badge-lg badge-success">$58,900</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="media">
              <div class="media-body">
                <div class="flexbox">
                  <div class="clearfix">
                    <img class="avatar avatar-lg" src="assets/images/img.jpg" alt="..."> <span class="ml-15 font-size-18">Collins</span>
                  </div>
  
                  <div class="align-self-center">
                    <span class="badge badge-lg badge-success">$58,900</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="media">
                <div class="media-body">
                  <div class="flexbox">
                    <div class="clearfix">
                      <img class="avatar avatar-lg" src="assets/images/img.jpg" alt="..."> <span class="ml-15 font-size-18">Wilson</span>
                    </div>
    
                    <div class="align-self-center">
                      <span class="badge badge-lg badge-success">$58,900</span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>